parameters:
	ignoreErrors:
		-
			message: '#^Trait Rushing\\Popcorn\\Concerns\\ChainsTraitMethods is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/ChainsTraitMethods.php

		-
			message: '#^Parameter \#1 \$objectOrClass of class ReflectionClass constructor expects class\-string\<T of object\>\|T of object, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Concerns/TraitMethods.php

		-
			message: '#^Parameter \#2 \$collected of static method Rushing\\Popcorn\\Concerns\\TraitMethods\:\:collect\(\) expects array\<class\-string, class\-string\>, array\<string, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Concerns/TraitMethods.php

		-
			message: '#^Parameter &\$collected by\-ref type of method Rushing\\Popcorn\\Concerns\\TraitMethods\:\:collect\(\) expects array\<class\-string, class\-string\>, array\<string, string\> given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: src/Concerns/TraitMethods.php

		-
			message: '#^Dead catch \- ReflectionException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/Discovery/AttributedClassScanner.php

		-
			message: '#^Method Rushing\\Popcorn\\Discovery\\AttributedClassScanner\:\:nextIdentifier\(\) has parameter \$tokens with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Discovery/AttributedClassScanner.php

		-
			message: '#^Method Rushing\\Popcorn\\Discovery\\AttributedClassScanner\:\:precededByDoubleColon\(\) has parameter \$tokens with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Discovery/AttributedClassScanner.php

		-
			message: '#^Method Rushing\\Popcorn\\Discovery\\AttributedClassScanner\:\:readName\(\) has parameter \$tokens with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Discovery/AttributedClassScanner.php

		-
			message: '#^Method Rushing\\Popcorn\\Ladders\\Ladder\:\:climb\(\) has parameter \$input with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Ladders/Ladder.php

		-
			message: '#^Cannot call method allows\(\) on Rushing\\Popcorn\\Registries\\Authorizer\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Method Rushing\\Popcorn\\Registries\\BasicRegistry\:\:branchKeys\(\) should return list\<Rushing\\Popcorn\\Registries\\RegistryKey\> but returns list\<Rushing\\Popcorn\\Registries\\BranchKey\|string\>\.$#'
			identifier: return.type
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Method Rushing\\Popcorn\\Registries\\BasicRegistry\:\:keys\(\) should return list\<Rushing\\Popcorn\\Registries\\RegistryKey\> but returns list\<string\>\.$#'
			identifier: return.type
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Method Rushing\\Popcorn\\Registries\\BasicRegistry\:\:recordAt\(\) never returns array\{key\: Rushing\\Popcorn\\Registries\\RegistryKey, segments\: list\<string\>, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\} so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Method Rushing\\Popcorn\\Registries\\BasicRegistry\:\:recordAt\(\) should return array\{key\: Rushing\\Popcorn\\Registries\\RegistryKey, segments\: list\<string\>, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\}\|null but returns array\{key\: string, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\}\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Method Rushing\\Popcorn\\Registries\\BasicRegistry\:\:recordsAt\(\) should return list\<array\{key\: string, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\}\> but returns list\<array\{key\: Rushing\\Popcorn\\Registries\\RegistryKey, segments\: list\<string\>, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\}\>\.$#'
			identifier: return.type
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Method Rushing\\Popcorn\\Registries\\BasicRegistry\:\:visibleAt\(\) should return list\<array\{key\: Rushing\\Popcorn\\Registries\\RegistryKey, segments\: list\<string\>, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\}\> but returns list\<array\{key\: string, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\}\>\.$#'
			identifier: return.type
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Offset ''segments'' does not exist on array\{key\: string, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\}\.$#'
			identifier: offsetAccess.notFound
			count: 2
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Parameter \#1 \$array \(list\<array\{key\: string, by\: string\|null\}\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Parameter \#1 \$array \(list\<array\{key\: string, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\}\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Parameter \#1 \$array \(list\<mixed\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Parameter \#1 \$records of method Rushing\\Popcorn\\Registries\\BasicRegistry\:\:candidates\(\) expects list\<array\{key\: Rushing\\Popcorn\\Registries\\RegistryKey, segments\: list\<string\>, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\}\>, non\-empty\-list\<array\{key\: string, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\}\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Parameter \#1 \$records of method Rushing\\Popcorn\\Registries\\BasicRegistry\:\:visible\(\) expects list\<array\{key\: string, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\}\>, list\<array\{key\: Rushing\\Popcorn\\Registries\\RegistryKey, segments\: list\<string\>, entry\: mixed, by\: string\|null, ability\: string\|null, sequence\: int\}\> given\.$#'
			identifier: argument.type
			count: 3
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Parameter \#1 \$segments of class Rushing\\Popcorn\\Registries\\BranchKey constructor expects list\<string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Parameter \#1 \$segments of method Rushing\\Popcorn\\Registries\\BasicRegistry\:\:identity\(\) expects list\<string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Parameter \#1 of callable callable\(list\<string\>\)\: bool expects list\<string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Registries/BasicRegistry.php

		-
			message: '#^Parameter \#1 \$objectOrClass of class ReflectionClass constructor expects class\-string\<object\>\|object, object\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Registries/IsRegistry.php

		-
			message: '#^Parameter \#1 \$string of function substr expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Registries/Key.php

		-
			message: '#^Cannot call method scan\(\) on Rushing\\Popcorn\\Discovery\\AttributedClassScanner\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Registries/Registrars/AttributeRegistrar.php

		-
			message: '#^Parameter \#1 \$string of function substr expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Registries/Registrars/AttributeRegistrar.php

		-
			message: '#^Property Rushing\\Popcorn\\Registries\\RegistryIndex\:\:\$registries \(Rushing\\Popcorn\\Registries\\BasicRegistry\) does not accept Rushing\\Popcorn\\Registries\\Registry\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Registries/RegistryIndex.php

		-
			message: '#^Trait Rushing\\Popcorn\\Runner\\Concerns\\HandlesRunnerIo is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Runner/Concerns/HandlesRunnerIo.php

		-
			message: '#^Using nullsafe property access "\?\-\>grant" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Runner/Manifest.php

		-
			message: '#^Invalid type Rushing\\Popcorn\\Runner\\Exceptions\\RunFailed\|null to throw\.$#'
			identifier: throw.notThrowable
			count: 1
			path: src/Runner/Result.php
